! vim: set filetype=xdefaults :

URxvt.perl-ext-common : default,keyboard-select,url-select,clipboard

URxvt.keysym.M-x           : perl:keyboard-select:activate
URxvt.keysym.M-u           : perl:url-select:select_next
URxvt.keysym.M-c           : perl:clipboard:copy
URxvt.keysym.M-v           : perl:clipboard:paste
URxvt.keysym.M-s           : perl:keyboard-select:search
URxvt.keysym.M-C-v         : perl:clipboard:paste_escaped
URxvt.url-select.launcher  : chromium
URxvt.url-select.autocopy  : true
URxvt.url-select.underline : true

URxvt.geometry: 60x35
URxvt*font: xft:snap:pixelsize=10:antialias=true:hinting=true
URxvt*boldFont: xft:snap:bold:pixelsize=11:antialias=true:hinting=true
URxvt.letterSpace : -1
URxvt.termName    : rxvt-256color
URxvt.iso14755    : false
URxvt*.shading: 20
URxvt*depth: 35
URxvt*buffered: true
URxvt*transparent: true
URxvt.urgentOnBell: true
URxvt.saveLines   : 12000
URxvt.scrollBar   : false
URxvt.scrollstyle : rxvt

!XFT
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : true
Xft.antialias : true
Xft.rgba      : rgb


!Solarized + tangerine + random colours
URxvt.cursorColor : #A65AC1
urxvt.foreground: 	#E8DFD6
urxvt.background: 	#021B21
urxvt.cursorColor:  #2E3340
urxvt.color0:       #032C36
urxvt.color8:       #065F73
urxvt.color1:       #C2454E
urxvt.color9:       #EF5847
urxvt.color2:       #7CBF9E
urxvt.color10:      #A2D9B1
urxvt.color3:       #8A7A63
urxvt.color11:      #BEB090
urxvt.color4:       #2E3340
urxvt.color12:      #61778D
urxvt.color5:       #FF5879
urxvt.color13:      #FF99A1
urxvt.color6:       #44B5B1
urxvt.color14:      #9ED9D8
urxvt.color7:       #F2F1B9
urxvt.color15:      #F6F6C9


